cython==3.0a6
grpcio==1.33.2
h5py==2.10.0
Keras==2.4.3
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
matplotlib==3.3.2
numpy==1.19.3
opencv-python==4.0.1.23
opencv-python-headless==4.2.0.32
Pillow==8.0.1
scikit-image==0.17.2
scikit-learn==0.22.2
scipy==1.4.1
seaborn==0.11.0
six==1.15.0
tensorboard==2.2.2
tensorboard-plugin-wit==1.7.0
tensorflow-datasets==4.0.1
tensorflow-estimator==2.0.1
tensorflow-gpu==2.2.0
tensorflow-gpu-estimator==2.2.0
tensorflow-metadata==0.24.0
tqdm==4.51.0
